<div>
    <ul class="nav nav-tabs">
        {% for tab in captions %}
            <li role="presentation" {% if tab.selected %}class="active"{% endif %}>
                <a id="{{ tab.id }}" {{ tab.parent |raw }} {{ tab.href | raw }}>{{ tab.caption | raw}}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="panel panel-default">
        <div class="panel panel-body">
            {{ body | raw }}
        </div>
    </div>
</div>