{% macro menu_links(links) %}
    {% for link in links %}
        {% if link.type == 'split' %}
            <li class="divider"></li>
        {% elseif link.type == 'submenu' %}
            <li>
                {% if link.icon is not null %}
                    <a tabindex="-1" href="javascript:void(0);"><i class="fa fa-{{ link.icon }}"></i>&nbsp;{{ link.label }} <span class="caret"></span></a>
                {% else %}
                    <a tabindex="-1" href="javascript:void(0);">{{ link.label }} <span class="caret"></span></a>
                {% endif %}

                <ul id="submenu-{{ loop.index }}" class="dropdown-menu">
                    {{ _self.menu_links(link.items) }}
                </ul>
            </li>
        {% elseif link.type == 'item' %}
            {% if link.icon is not null %}
                <li><a href="{{ link.url }}"><i class="fa fa-{{ link.icon }}"></i>&nbsp;{{ link.label }}</a></li>
            {% else %}
                <li><a href="{{ link.url }}">{{ link.label }}</a></li>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul class="nav navbar-nav" style="margin:0px">
  <li>
    <a role="navigation" class="btn btn-primary" style="padding: 6px 12px;background-color:#337ab7">
        {{ name }}&nbsp;<span class="caret hidden-xs"></span>
    </a>
    <ul class="dropdown-menu">
        {{ macros.menu_links(menu) }}
    </ul>
  </li>
</ul>
