{#<li class="nav-item dropdown">#}
    {#<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Components</a>#}
    {#<div class="dropdown-menu dropdown-menu-arrow">#}
        {#<a href="./maps.html" class="dropdown-item ">Maps</a>#}
        {#<a href="./icons.html" class="dropdown-item ">Icons</a>#}
        {#<a href="./store.html" class="dropdown-item ">Store</a>#}
        {#<a href="./blog.html" class="dropdown-item ">Blog</a>#}
        {#<a href="./carousel.html" class="dropdown-item ">Carousel</a>#}
    {#</div>#}
{#</li>#}

{% macro menu_links(links, level) %}
    {% for link in links %}
        {% if link.type == 'split' %}
        <li class="divider"></li>
        {% elseif link.type == 'submenu' %}
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">{% if link.icon is not null %}<i
                        class="fa fa-{{ link.icon }}"></i>{% endif %}{{ link.label }}</a>
                <div class="dropdown-menu dropdown-menu-arrow">
                    {{ _self.menu_links(link.items, level+1) }}
                </div>
            </li>
        {% elseif link.type == 'item' %}
            {% if level == 0 %}
                <li class="nav-item">
                    <a href="{{ link.url }}" class="nav-link">{% if link.icon is not null %}<i class="fa fa-{{ link.icon }}"></i>{% endif %} {{ link.label }}</a>
                </li>
            {% else %}
                <a href="{{ link.url }}" class="dropdown-item ">{% if link.icon is not null %}<i class="fa fa-{{ link.icon }}"></i>{% endif %} {{ link.label }}</a>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endmacro %}

    {% import _self as macros %}

<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    {{ macros.menu_links(menu, 0) }}
</ul>

{#<a role="navigation" class="btn btn-primary" style="padding: 6px 12px;background-color:#337ab7">#}
    {#{{ name }}&nbsp;<span class="caret hidden-xs"></span>#}
{#</a>#}