{% macro menu_links(links,level) %}
  <ul class="nav {% if level==0 %}side{% else %}child{% endif %}-menu" {% if level>0 %}style="display:none"{% endif %}>
    {% for link in links %}
        {% if link.type == 'split' %}
            <li class="divider"></li>
        {% elseif link.type == 'submenu' %}
            <li>
                {% if link.icon is not null %}
                    <a tabindex="-1" href="javascript:void(0);"><i class="fa fa-{{ link.icon }}"></i>&nbsp;{{ link.label }} <span class="caret"></span></a>
                {% else %}
                    <a tabindex="-1" href="javascript:void(0);">{{ link.label }} <span class="caret"></span></a>
                {% endif %}

                {{ _self.menu_links(link.items,level+1) }}
            </li>
        {% elseif link.type == 'item' %}
            {% if link.icon is not null %}
                <li><a href="{{ link.url }}"><i class="fa fa-{{ link.icon }}"></i>&nbsp;{{ link.label }}</a></li>
            {% else %}
                <li><a href="{{ link.url }}">{{ link.label }}</a></li>
            {% endif %}
        {% endif %}

    {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}


<div class="menu_section">
  <h3>{{ name }}</h3>
  {{ macros.menu_links(menu,0) }}
</div>
